<div class="container-fluid">
  <h1 class="text-center m-5 fs-2">Listado de Alumnos</h1>
  <ul>
    <li *ngFor=" let alumno of ['Hermione Granger', 'Luna Lovegood', 'Neville Longbottom', 'Ron Weasly', 'Harry Potter', 'Draco Malfoy', 'Cedric Diggory'], let i = index" class="text-center" [style.color] ="'#f3f3f3'">
      {{ alumno | uppercase }}
      <span [ngSwitch]="[ i ]" [ngClass]=" i == 1 || i == 5 || i == 6  ? 'other' : 'griffindor' ">
        <span *ngSwitchCase="6" class="h">| Hufflepuff </span>
        <span *ngSwitchCase="1" class="r">| Ravenclaw</span>
        <span *ngSwitchCase="5" class="s">| Slytherin</span>
        <span *ngSwitchDefault class="g">|  Gryffindor </span>
      </span>
    </li>
  </ul>
</div>